# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
*.out
*.err

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
venv/
.venv
venv*

# Build output
dist/
build/
out/
coverage/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.local
*.cache
*.swp
*.bak
*.tmp